/.venv
/__pycache__
service_account.json
chaveGoogle.json
*.log

# Ignorar todos os arquivos do Word
*.docx
*.doc

# Ignorar planilhas (caso você gere .xlsx ou .csv locais)
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
*.pyc
*.pyo
*.pyd
*.xlsx
*.xlsm
*.csv
*.xls

# Diretórios e imagens geradas
/docs/
/imagem/
/downloads/images/
/downloads/jornadas/