/.venv
/__pycache__
service_account.json
chaveGoogle.json
*.log

# Ignorar todos os arquivos do Word
*.docx
*.doc

# Ignorar planilhas (caso você gere .xlsx ou .csv locais)
*.xls
*.png
*.jpg
*.jpeg
*.pyc
*.pyo
*.pyd
#*.xlsx
*.xlsm
*.csv
*.xls
src/collaborators_data.xlsx
src/ponto_mais/analysis/Analise_Excel/BD_Config.xlsx
src/ponto_mais/analysis/Analise_Excel/Analise.xlsx
src/testar.xlsx

test_debug_emails.py
# Diretórios e imagens geradas
docs/
imagem/
downloads/images/
downloads/jornadas/
ponto_mais/analysis/
ponto_mais/analysis/Analise_Excel/